#wrapper {
  float: right;
  margin-left: -100px;
  width: 200px;
  height: 100px;
  position: relative;
  top: 10px;
  margin-left: -10px;
}

body, a {
  color: white;
  position: relative;
  margin-right: -10px;
}

body, html, header, h1 {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: helvetica;
}


header,body,html {
  width: 100%;
  height: 100%;
}


header {
  background: url(header.jpg) center center;
  background-size: cover;  
}


.login-box {
  width: 320px;
  height: 380px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: table;
  box-sizing: border-box;
  transform: translate(-50%,-50%);
  padding: 60px 30px;
  position: relative;
  margin-left: -500px;
  top: 225px;
}


h1 {
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
  font-size: 22px;
  color: #009bd2;
  position: relative;
  bottom: 18px;
  text-shadow: 1px 1px 2px white;
}

.login-box p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.login-box input {
  width: 100%;
  margin-bottom: 25px;
}


.login-box input[type="text"], input[type="passwort"] {
  border: none;
  border-bottom: 2px solid #fff; 
  outline: none;
  height: 20px;
  background: transparent;
  color: #fff;
  font-size: 14px;
}


.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 30px;
  font-size: 16px;
  border-radius: 16px;
  background: #1c8adb;
  color: #fff;
}


.login-box input[type="submit"]:hower {
  cursor: pointer;
  background: black;
  color: #000;
}


.login-box a {
  text-decoration: none;
  text-size: 20px;
  color: blue;
}
